<!DOCTYPE HTML>
<html>
	<head>
        <title>{% block title %}{{ info.title }}{% endblock %}</title>

        <meta name="author" content="WebElements.agency">
        <meta name="description" content="{% block description %}{% endblock %}">
        <meta name="keywords" content="{% block keywords %}{% endblock %}">

		<script src="/template/spa/assets/scripts/jquery.min.js"></script>

        {% include "components/head.html" %}

		<link rel="stylesheet" href="/template/spa/assets/styles/main.css" />
		<noscript><link rel="stylesheet" href="/template/spa/assets/styles/noscript.css" /></noscript>

        {% block styles %}{% endblock %}
        {% block scripts %}{% endblock %}
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<a class="logo" href="{{ home }}{{ linkparams }}">
                            <img class="logo-img" width="300px" height="300px" src="{{ info.logo }}" alt="{{ info.company }}" />
                        </a>
                        {% block header %}
                            <h1 class="title editable">
                                {{ info.title }}
                            </h1>
                        {% endblock %}
					</header>

				<!-- Nav -->
					<nav id="nav">
						<ul>
							<li><a href="/home/spa{{ linkparams }}">Home</a></li>
                            {% include "components/navigation.html" %}
						</ul>
					</nav>

				<!-- Main -->
					<div id="main">
                        {% block content %}
                            <div class="main-content editable"></div>
                        {% endblock %}
					</div>

				<!-- Footer -->
					<footer id="footer">
						<section class="editable">
							<h2>Aliquam sed mauris</h2>
							<p>Sed lorem ipsum dolor sit amet et nullam consequat feugiat consequat magna adipiscing tempus etiam dolore veroeros. eget dapibus mauris. Cras aliquet, nisl ut viverra sollicitudin, ligula erat egestas velit, vitae tincidunt odio.</p>
							<ul class="actions">
								<li><a href="/about{{ linkparams }}" class="button">Learn More</a></li>
							</ul>
						</section>
						<section class="editable">
							<h2>{{ info.company }}</h2>
							<dl class="alt">
								<dt>Address</dt>
								<dd>{{ info.address }} &bull; {{ info.city }}, {{ info.state }} {{ info.zip }} &bull; USA</dd>
								<dt>Phone</dt>
								<dd>{{ info.phone }}</dd>
								<dt>Email</dt>
								<dd><a href="mailto:{{ info.email }}">{{ info.email }}</a></dd>
							</dl>
							<ul class="icons">
								{% include "components/social.html" %}
							</ul>
						</section>
						<p class="copyright">&copy; {{ info.copyright }}. {{ info.legal }}. Design: <a href="https://webelements.agency">Web Elements</a>.</p>
					</footer>

			</div>

			<script src="/template/spa/assets/scripts/jquery.scrollex.min.js"></script>
			<script src="/template/spa/assets/scripts/jquery.scrolly.min.js"></script>
			<script src="/template/spa/assets/scripts/browser.min.js"></script>
			<script src="/template/spa/assets/scripts/breakpoints.min.js"></script>
			<script src="/template/spa/assets/scripts/util.js"></script>
			<script src="/template/spa/assets/scripts/main.js"></script>

			{% block loaded %}{% endblock %}
	</body>
</html>
